body {
  font-family: sans-serif;
}

#bkcals {
  position: absolute;
  grid-gap: 1em;
  padding: 1em;
  box-shadow: 0px 0px 10px lightgray;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
}

#bkcaldates {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 10px;
}

#bkcaldates > * {
  padding: 0.5em;
}

#bkpages {
  display: flex;
  justify-content: space-between;
  width: 44em;
  padding: 1em;
}

thead * {
  color: gray;
}

.bkcalendar {
  font-size: 12px;
  display: inline-block;
}

.bktaken {
  text-decoration: line-through;
  color: lightgray;
}

td {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

.bkbox {
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.bkstar {
  color: rgb(245, 76, 76);
}

.bkprice {
  font-size: 20px;
}

.bkper {
  color: gray;
}

.bkrate {
  font-size: 16px;
}

.bkhead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#bkdates {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bkopts {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.bkbox {
  box-shadow: 0 0 10px lightgray;
}

#bkdates h6 {
  margin: 0 0 4px 0;
}

#bkdates span {
  font-size: 14px;
}

.bkdates > * {
  padding: 4px;
}

#bkin, #bkout {
  color: gray;
}

.bkguests {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bkbutton {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid gray;
  margin: 10px;
  font-size: 20px;
}

.bkcount {
  width: 10em;
  text-align: center;
}

#bklist {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 0 5px lightgray;
  width: 300px;
}

#bklist aside {
  color: gray;
}

#bkclose {
  border: none;
  background-color: white;
  color: none;
  text-decoration: underline;
  float: right;
}

.bkform {
  font-size: 0.8;
}

#bkguests {
  border-top: 1px solid lightgray;
}

#bkopts > * {
  padding: 5px;
  font-size: 12px;
}

#bkcheckout {
  padding-left: 5px;
  border-left: 1px solid lightgray;
}

#bklisthead {
  display: flex;
  justify-content: space-between;
}

.bkselect {
  border: 2px solid black;
  border-radius: 10px;
}

.bkopen:hover, .bkactive {
  color: white;
  background-color: black;
  border-radius: 20px;
}

#bkscroll {
  display: flex;
  justify-content: space-between;
}

#bkgo {
  background-color: rgb(245, 76, 76);
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 3em;
}